/*DIA 6*/
body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(201, 255, 245, 1) 37%);
}

.juntatudo {
    margin-top: 20% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    position: absolute;
    margin-top: -180px;
    transform: scaleX(-1) !important;
}


h1:hover {
    text-decoration: underline;
}

#botao1 {
    background-color: rgb(0, 119, 0);
    position: absolute;
    margin-right: 280px;
}

#botao2 {
    background-color: rgb(236, 0, 0);
    position: absolute;
    margin-left: 280px;
}

button {
    margin-top: 120px;
    height: 60px;
    width: 220px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Impact;
}