/*DIA 9*/
body{
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}
.juntatudo {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.func1,
.func2, 
.func3,
.func4 {
    border-radius: 10px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.3);
}

img {
    width: 280px;
    height: 280px; /* Definindo uma altura fixa para todas as imagens */
    object-fit: cover; /* Para garantir que a imagem preencha completamente a área especificada */
}

p {
    text-align: justify;
    width: 280px;
}
