/*DIA 24*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    margin-right: 500px;

}

.pizza {
    margin-top: 300px;
}

img {
    position: absolute;
    height: 200px;
    width: 120px;
}

#pizza1 {
    margin-left: 202px;
    margin-top: -2px;
}

#pizza2 {
    position: absolute;
    visibility: visible;
    margin-left: 250px;
    margin-top: 20px;
    transform: rotateZ(45deg);

}
#pizzaMordida {
    position: absolute;
    visibility: hidden;
    margin-left: 250px;
    margin-top: 20px;
    transform: rotateZ(45deg);

}

#pizza3 {
    margin-left: 268px;
    margin-top: 68px;
    transform: rotateZ(90deg);

}


#pizza4 {
    margin-left: 247px;
    margin-top: 116px;
    transform: rotateZ(135deg);
}

#pizza5 {
    margin-left: 198px;
    margin-top: 136px;
    transform: rotateZ(180deg);
}

#pizza6 {
    margin-left: 154px;
    margin-top: 117px;
    transform: rotateZ(225deg);

}

#pizza7 {
    margin-left: 135px;
    margin-top: 68px;
    transform: rotateZ(270deg);
}

#pizza8 {
    margin-left: 155px;
    margin-top: 19px;
    transform: rotateZ(315deg);

}

#calabresa {
    margin-top: 114px;
    margin-left: 192px;
}


.pizza:hover #pizza1 {
    margin-top: -50px;
}

.pizza:hover #pizza2 {
    margin-left: 260px;
    margin-top: -24px;
    transform: rotateZ(45deg);
}





